body{
background-color:lightgrey;
font-family:arial;
}
h1{
color:red;
text-align:center;
font-size:12px;
font-weight:100;
}
input[type=text]:focus, textarea:focus,input[type=password]:focus{
 box-shadow:0 0 5px rgba(81,203,238,1);
padding:3px 0px 3px 3px;
margin:5px 1px 3px 0px;
border:1px solid rgba(81,203,238,1)
}

#loginModal{
background-color: white;
position: fixed;
top:50%;
margin-top:-150px;
left:50%;
margin-left:-150px;
border-radius: 4px;
box-shadow: 0px 0px 7px #888888;
width: 300px;
height:auto;
display:inline-block;
}
form{
text-align:center;
}
#frameborder{
margin-top:15px;
font-size:42px;
font-family: sans-serif;
color: grey;
}
#createarticleb{
padding:10px 15px;
background:#4479BA;
color:#FFF;
}
#username, #password{
width:75%;
 transition:all 0.22s ease-in-out;
height:35px;
outline:none;
background-color:white;
padding:3px 0px 3px 3px;
margin:5px 1px 3px 0px;
border:1px solid #DDDDDD;
}
