{% extends "base.html" %}
{% block currentpage %}
about
{% endblock %}
{% block title %}
About me
{% endblock %}
{% block content %}

<div id="about2"> 
<h1 id="aboutme"> About me </h1>
<hr>
<div id="aboutmyself">

<img src="/static/images/sami.png" id="sami"/>
<p id="paragraph">
My name is MD Samiul Huq and no and I am an aspiring web developer, student and generalist, who is relatively new to the world of web development.</br></br> I'm originally from Bangladesh but I was worn in Washinton D.C, USA. However I spent most of my life outside of the US but here I am now, currently a Freshman at the Pennsylvania State University, working towards my Computer Science degree. 
</p>

</div>
</div>
<div id="contact">
    <a href="http://www.github.com/clanofnoobs">   
<img id="github" src="/static/images/github.png" />
</a>
<a href="http://www.facebook.com/samiul.huq">
    <img id="facebook" src="/static/images/facebook.png" height="35px" width="35px" /></a>
</div>


{% endblock %}

{% block headings %}

<a> <h1 id="heading1">about </h1>
</a>

{% endblock %}
