{% extends "base.html" %}

{% block content %}

<div id="about2"> 
<h1 id="aboutme"> About me </h1>
<hr>
<div id="aboutmyself">
<img src="/static/images/sami.png" id="sami"/>
<p id="paragraph">
My name is MD Samiul Huq and no, I'm not a physician as you might infer from my initials. I am an aspiring web developer, student and generalist, who is relatively new to the world of web.</br></br> I'm originally from Bangladesh but I was worn in Washinton D.C, USA. However I spent most of my life outside of the US but here I am now, currently a Freshman at the Pennsylvania State University, working towards my Computer Science degree. 
</p>
</div>
</div>


{% endblock %}
{% block headings %}

<a> <h1 id="heading1">about </h1>
</a>

{% endblock %}
