{% extends "base.html" %}
{% block currentpage %}
home
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="articles">
<div id="thetitle">
<h1 id="tile1" > <a id="title2" href="/posts/get/{{ post.id }}/"> {{ post.title }} </a> </h1>
<div id= "pub_date"> <em>on</em> {{ post.pub_date }} </div>
</div>

<p class="body1"> {{ post.body|safe|linebreaksbr }} </p>
<br>
<span class="comments"> <a href="/posts/get/{{ post.id }}/#disqus_thread"> 
        comments</a> </span>

<br>
<br>
<hr>
</div>
{% endfor %}

{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination">
	<span class="step-links">
		{% if posts.has_previous %}
			<a id="prev" href="?page={{ posts.previous_page_number }}" > newer entries &lt;&lt; </a>
		{% endif %}
		
		<span class="current">
			&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}		
		</span>
		
		{% if posts.has_next %}
			<a id="next" href="?page={{ posts.next_page_number }}" > &gt;&gt; older entries </a>
		{% endif %}
	
	</span>

</div>
{% endif %}

{% endblock %}

