<!DOCTYPE html>
<html>
	<head>
	<title>{% block title %} Sami's blog {% endblock %}</title>
	<link href="/static/css/adminlogin.css" type="text/css"
	rel="stylesheet"/>
        <link rel="icon" type="image/png" href="/static/images/sami.png" />
        <link rel="stylesheet" href="/static/js/highlight/styles/default.css">
        <script src="/static/js/highlight/highlight.pack.js"></script>

	<link href="/static/css/reset.css" type="text/css"
	rel="stylesheet"/>
	<link rel="stylesheet" href="/static/css/desert.css"/>
	<link href="/static/css/home.css" type="text/css"
	rel="stylesheet"/>

        <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/highlighter/prettify.js" ></script>
<script type="text/javascript" src = "/static/js/three.min.js"></script>

 

	</head>	

	<body>
        {% block sidebar %}
       
        {% endblock %}
	<script> prettyPrint(); </script>
        <script>hljs.initHighlightingOnLoad();</script>
		<div id="overlay"></div>

		<div id="head">

		<div class="nav pagewidth">
	    <div id="menub">
                <div id="horizontal">
                <hr>
                <hr>
                <hr>
                </div>
		<div id="menu">
		<div>
		<a href="/articles/home/">
		Home
		</a>
		</div>
		<div>
		<a href="/photos">
		Photos
		</a>
		</div>
		<div>
		<a href="/articles/home/">
		Projects
		</a>
		</div>
		<div>
		<a href="/articles/webgl/">
		Experiments
		</a>
		</div>

		<div>
		<a href="/articles/home/">
		Contact me
		</a>
		</div>
		</div>
		</div>


		<a href="/articles/all/">
		<h4 id="sammy" > SAMMY </h4> 

		</a>


		<a href="/articles/create">
                {% if user.is_superuser %}
		<h2 id="addpost">add post</h2>
                
                {% else %}
            
                {% endif %} 
                 </a>
		<h2 id="welcome">
                        {% block heading %}   {% endblock %} 
                </h2>
                <a id="about" href="/about">
		 about
        </a>
                {% if user.is_superuser %}
                <a id="logout" href="/logout">Logout
                </a>
                {% else %}
	   	<h6 id="admin2" >Admin</h5> 
                {% endif %}





		      </div>      
		</div>

{% block container %}
	<div class="container pagewidth">

	    		{% block content %} 
	    		<p>Hi</p>

	    		{% endblock %}
        </div>
		{% block footer %}
		<div class="footer"> 


		</div>
		{% endblock %}
      {% endblock %}
        <script> prettyPrint(); </script>
		<div id="loginModal">

<h4 id="frameborder">Admin login</h4>
<div id="login">
<form action="/auth" method="post"> 
{% csrf_token %}
<br>
<input name="username" id="username" type="text" placeholder = "Username"/>
<br>
<br>
<input name="password" id="password" type="password" placeholder = "Password"/>
<br>
<br>
<button id="createarticleb">Sign in</button>
</form>
</div>	
		</div>

	</body>



</html>
