{% extends "base.html" %}
{% block content %}
<div>
<h1 id="album">
        Cinema 4D Renders
</h1>
</div>
<div id ="wrapper">
        <ul id = "portfolio">
                <li><img src="/static/images/media/1.jpg" alt="img"/>  </li>
 <li><img src="/static/images/media/2.jpg" alt="img"/>  </li>
 <li><img src="/static/images/media/3.jpg" alt="img"/>  </li>
 <li><img src="/static/images/media/4.jpg" alt="img"/>  </li>
 <li><img src="/static/images/media/5.jpg" alt="img"/>  </li>
        </ul>
</div>
</div>

{% endblock %}
