{% extends "base.html" %}
{% block currentpage %}
my projects
{% endblock %}
{% block content %}
<div id="projects">
        <h1> Audex (chrome plugin) </h1>
        <p>
        <img src="/static/images/media/noimage.png" alt="" id="projectpicture" />
         An extension for Chrome that allows users to index transcripted 
        words from sites like YouTube so that they can easily refer to it 
        instead of tediously searching. Uses Google's Speech API to
        transcribe. </p>
        </br>
        </br>
        <hr>
</div>
{% endblock %}
