{% extends "base.html" %}
{% block title %}
Sphere 
{% endblock %}
{% block container %}

   <script src="/static/js/three.min.js">    </script> 
   <script>
      var x = 30;
      var renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);
 
      // camera
      var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
      //camera.position.y = -400;
      camera.position.z = 500;
      // scene
      var scene = new THREE.Scene();
      var material = new THREE.MeshPhongMaterial({
                  color: 'lightblue',
                  specular: 'red',
                  shininess:'30',
                
                  });
      var geometry = new THREE.SphereGeometry(120,64,64);
      // sphere
      var sphere = new THREE.Mesh(geometry,material);       //changing to lambert material
      material.map = THREE.ImageUtils.loadTexture('/static/images/media/earth_diffuse.jpg')
    
      sphere.rotation.x = Math.PI * 0.1; 
      //camera.lookAt(sphere.position);
      sphere.overdraw = true;

      scene.add(sphere);
      var render = function(){
        requestAnimationFrame(render);
        sphere.rotation.y += 2 * Math.PI / 150;
        //sphere.rotation.x += 2 * Math.PI / 200;
        //sphere.rotation.z += 2 * Math.PI / 500;
        x+=1;
        renderer.render(scene,camera);
      };
      var light = new THREE.DirectionalLight('white', 1.3);
      light.position.set(2,2,2).normalize();
      scene.add( light );

      render();
      // start animation
      
    </script>
    {% endblock %}
