{% extends "base.html" %}
{% block title %}
Track
{% endblock %}
{% block container %}

   <script src="/static/js/TrackballControls.js"</script>

   <script src="/static/js/three.min.js">   </script>    <script>
      var camera, controls, scene, renderer;

            init();
            animate();

            function init(){
             renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);
 
      // camera
       camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.01, 1000);
      //camera.position.y = -400;
      camera.position.z = 2;
      // scene
       scene = new THREE.Scene();
   
      var material = new THREE.MeshPhongMaterial()

      var geometry = new THREE.SphereGeometry(0.5,32,32)
      // sphere
      var sphere = new THREE.Mesh(geometry,material)       //changing to lambert material
      material.map = THREE.ImageUtils.loadTexture('/static/images/media/earth_diffuse.jpg')
      material.bumpMap = THREE.ImageUtils.loadTexture('/static/images/media/earth_bump.jpg')
      material.bumpScale = 0.08
      material.specularMap = THREE.ImageUtils.loadTexture('/static/images/media/earth_specular.jpg')
      material.specular = new THREE.Color('grey')

    
      sphere.rotation.x = Math.PI * 0.1; 
      //camera.lookAt(sphere.position);
      sphere.overdraw = true;

      scene.add(sphere);
   var mat = new THREE.MeshPhongMaterial({
                map : THREE.ImageUtils.loadTexture('/static/images/media/cloud1.jpg'),
                side: THREE.DoubleSide,
                opacity: 0.67,
                transparent : true,
                depthWrite : false,
                  })
      var geo = new THREE.SphereGeometry(0.51,32,32);
      var cloudMesh = new THREE.Mesh(geo,mat)
      sphere.add(cloudMesh)
    //Starfield

    var geom = new THREE.SphereGeometry(1000,32,32)
    var mate = new THREE.MeshBasicMaterial()
    mate.map = THREE.ImageUtils.loadTexture('/static/images/media/starfield.jpg')
    mate.side = THREE.BackSide
    var starfield = new THREE.Mesh(geom,mate)
    scene.add(starfield)

     var light = new THREE.DirectionalLight('white', 1.1);
      light.position.set(0,0,500).normalize();
      scene.add( light );


                 controls = new THREE.TrackballControls( camera );
                controls.addEventListener('change', render);


            }

            function animate(){
                requestAnimationFrame( animate );
                controls.update();
            }

            function render(){

                renderer.render( scene, camera );
            } 
    </script>
    {% endblock %}
